#typeaheadInput {
  width: 100%;
}

body {
    background-color: #00CCFF;
    font-family: 'PT Sans', sans-serif;
}

.btn-active.pageTitle {
    background-color: #FFF;
    color: #00CCFF;
}

.btn-inactive.pageTitle {
    background-color: #00CCFF;
    color: #FFF;
}

.btn {
    border-color: #FFF;
    border-width: 3px;
    width: 50%;
}

.btn-group-lg {
	width: 100%;
	margin: 50px 0px 50px;
}

#uidinput {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  border: none;
  margin: 0px 0px 25px 0px;
}

#mprbox, #refillbox {
	clear: left;
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 76px;
	background-color: #FFF;
}

#pillpic, #calpic, #mailpic {
	background-color: #E0E0E0;
	padding: 50px 0px 50px 00px;
	display: block;
	text-align: center;
}

#refillbox {
	margin-top: 3px;
}

img {
	height: auto;
	max-width: 100%;
	width: auto;
}

#mprNumber, #refillNumber {
	font-size: 80px;
	color: #0071BC;
	text-align: center;
}

.boxtext {
	font-size: 25px;
	color: #0071BC;
	margin-left: 10px;
}

.mprInfo, .refillInfo {
	padding: 10px 0 0 15px;
}

 #mprPercentile1, #mprPercentileNum, #mprPercentile2, #refillPercentile1, #refillPercentileNum, #refillPercentile2 {
 	font-size: 20px;
 	color: #0071BC;
 	margin-left: 5px;
 }

 .mprPercentileInfo, .refillPercentileInfo {
 	padding-left: 15px;
 }

 #emailbox {
 	clear: left;
	display: block;
	position: relative;
	overflow: hidden;
	height: 80px;
	background-color: #989898;
	margin-top: 3px;
 }

 #mailpic {
	background-color: #989898;
	padding: 0px 0px 0px 0px;
	display: block;
	text-align: center;
}

.emailInfo {
	margin-top: 20px;
}

#emailText {
	font-size: 30px;
	color: #FFF;
	margin-left: 10px;
}

.metricLabelContainer {
	padding: 55px 0 0 5px;

}
