#typeaheadInput {
  width: 100%;
}

body {
    background-color: #00CCFF;
    font-family: 'PT Sans', sans-serif;
}

.btn-active {
    background-color: #FFF;
    color: #00CCFF;
}

.btn-inactive {
    background-color: #00CCFF;
    color: #FFF;
}

.btn {
    border-color: #FFF;
    border-width: 3px;
    width: 50%;
}

.btn-group-lg {
	width: 100%;
	margin: 50px 0px 50px;
}

#uidinput {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  border: none;
  margin: 0px 0px 25px 0px;
}

#mprbox, #refillbox {
	clear: left;
	display: block;
	position: relative;
	overflow: hidden;
	min-height: 76px;
	background-color: #FFF;
}

#pillpic, #calpic {
	background-color: #E0E0E0;
	padding: 50px 0px 50px 00px;
	display: block;
	text-align: center;
}

#refillbox {
	margin-top: 3px;
}

img {
	height: auto;
	max-width: 100%;
	width: auto;
}

#mprNumber {
	font-size: 80px;
	color: #0071BC;
}

.boxtext {
	font-size: 40px;
	color: #0071BC;
	margin-left: 10px;
}

.mprInfo {
	padding: 33px 0 0 15px;
}